.App {
  margin: 0 auto
}

.fixed-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #a8426e;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  min-height: 60px;
  color: #f1f1f1;  
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 15px;
  min-height: 30px;
  align-items: center;
  background-color: #5abdac;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-family: Arial;
}

nav a {
  text-decoration: none ;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal; 
  color: #355142;
}



