@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600,700|Raleway:700");

.App {
  display: block;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Work Sans";
  background-color: #ffecec;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  z-index: -1;
  box-sizing: border-box;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.first-page {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 3em auto;
  width: 100vw;
  height: 15vw;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  color: white;
  opacity: 1;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

/* HEADER SECTION STYLING */
.fixed-header, nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: "Work Sans";
  font-weight: 600;
  color: #f1f1f1;
  font-size: 1.7em;
  padding: 0 0.5em;
  background-color: #a8426e;
  width: 100vw;
  box-sizing: border-box;
} 

.fixed-header p, .fixed-header a, nav a {
  padding: 0.4em 0;
  margin: 0.2em 1.8em;
  text-decoration: none;
  font-size: 0.6em;
  color: white;
}

nav a {
  color: rgb(19, 65, 40);
}

nav {
  background-color: #5abdac;
}

nav a:hover {
  text-decoration: underline;
}

.peter-pan-logo-green-container {
  margin: 0.7em auto 0 auto;
  display: flex;
  justify-content: center;
}

.peter-pan-logo-green {
  width: 18em;
}

.header-carousel {
  width: 100vw;
}

.header-carousel-images {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}

#header-carousel-image0 {
  object-position: 0% 38%;
}

#header-carousel-image1 {
  object-position: 0% 34%;
}

#header-carousel-image3 {
  object-position: 0% 20%;
}

.fixed-wrapper {
  overflow: scroll;
  z-index: 10;
  position: sticky;
  top: -1px;
  width: 100%;
}

.header-tagline {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  color: #355142;
  padding: 0.5em 0;
  margin: 0 auto 0.7em auto;
}

/* HOURS & LOCATION SECTION STYLING */

#location {
  width: 100vw;
}

.hours-location-header-bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to right,
      rgba(136, 42, 78, 0.6),
      rgb(136, 42, 78, 0.6)
    ),
    url("./Images/location-section-image.png");
  /* background-image: url(./Images/location-section-image.png); */
  width: 100vw;
  height: 20em;
  opacity: 0.6;
}

.hours-location-inner-wrapper {
  font-family: "Work Sans";
  font-size: 1.1em;
  color: #24522a;
  margin: 3em auto;
}

.address-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: bold;
  margin: 0 auto;
  max-width: 15em;
}

.address-wrapper a {
  color: #24522a;
}

.address-wrapper a:hover {
  color: #2a8f37;
}

.hours-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1vw;
}

.hours-wrapper p,
.hours-wrapper a {
  margin: 0 auto;
}

/* STORY SECTION STYLING */

#story {
  width: 100vw;
}

.story-header-bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      to right,
      rgba(136, 42, 78, 0.6),
      rgb(136, 42, 78, 0.6)
    ),
    url("./Images/story-section-image.png");
  /* background-image: url(./Images/story-section-image.png); */
  background-position-y: 20%;
  background-position-x: 90%;
  width: 100vw;
  height: 20em;
  object-fit: fill;
  opacity: 0.6;
}

.story-section-logo {
  display: flex;
  justify-content: center;
  border: solid 0.01em #979797;
  background-color: rgba(5, 5, 5, 0.8);
}

.story-section-logo > img {
  width: 10em;
  margin: 1em auto;
  object-fit: contain;
}

.story-text-wrapper {
  width: 100vw;
  background-color: #d16e99;
}

.story-text {
  padding: 5em auto;
  margin: 0 auto;
  max-width: 65vw;
  font-family: "Work Sans";
  font-size: 1.1em;
  text-align: left;
  color: #ecf5ed;
}

.story-text p {
  margin: 2.5em auto;
}



/* DONUT SECTION STYLING */
.donuts-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  background-color: #ffecec;
}

.donuts-header-bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(
      to right,
      rgba(136, 42, 78, 0.6),
      rgb(136, 42, 78, 0.6)
    ),
    url("./Images/donut-section-image.png");
  /* background-image: url("./Images/donut-section-image.png"); */
  background-position-y: 65%;
  background-position-x: 100%;
  width: 100vw;
  height: 20vw;
  opacity: 0.6;
}

#donuts h3 {
  color: #24522a;
  padding: 0 1em;
}

#donuts a {
  color: #24522a;
}

.all-donuts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 0 2em;
}

.all-donuts div {
  margin: 1em;
  background-color: lightpink;
  padding: 1em;
  width: 13em;
}

/* CONTACT SECTION STYLING */
.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.2em;
  width: 100vw;
  border: solid 1px #979797;
  background-color: #d16e99;
}

.contact-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  font-size: 2em;
  letter-spacing: 0.2em;
  text-align: center;
  color: white;
}

#contact {
  padding: 6em 0 5em 0;
}

#contact div {
  margin: 0 auto;
  padding: 0.1em;
  font-weight: bold;
  text-align: center;
  text-align: center;
  color: #3e3a2d;
}

#contact a {
  color: white;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2.5vw;
}

.img-wrapper img {
  margin: 0.5em;
  height: 10vw;
  border-radius: 0.2em;
}

/* FOOTER SECTION STYLING */
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.2em 0;
  font-weight: bold;
  background-color: #5abdac;
  overflow-y: hidden;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer-icons,
.footer-text,
.footer-phone {
  margin: 1em auto;
  color: white;
}

.footer-icons img {
  opacity: 0.7;
}

.footer-icons img:hover {
  opacity: 1;
}

.footer-phone {
  width: 8em;
  border-radius: 10em;
  padding: 0.6em 1em;
  background-color: #e9428b;
  text-align: center;
  align-self: center;
  margin: 0 1em;
}

.footer-icons {
  padding: 0 auto;
  margin: 0 1em;
  text-decoration: none;
}

.footer-icons a {
  margin: 0.2em;
}

.footer-text {
  padding: 1em;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1em;
}

.footer-phone a,
.footer-icon a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

footer img {
  height: 2em;
  width: 2em;
}

.powered-by {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-align: center;
  color: #24522a;
  padding: 2em 0 3em 0;
  margin: 0 auto;
  background-color: #5abdac;
  width: 100vw;
}

.peter-pan-logo-green-container-mobile {
  display: none;
}

.hamburger-wrapper {
  display: none;
}

@media only screen and (max-width: 800px) {
  .hamburger-wrapper {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: 6em;
    background-color: #5abdac;
  }
  
  .hamburger-click {
    position: fixed;
    right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  .hamburger-icon {
    margin-top: 0.5em;
    top: 0;
    right: 0;
    width: 3.5em;
    height: 0.6em;
    background-color: white;
  }
  
  .hamburger-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5abdacd0;
    width: 100vw;
    height: 60vh;
    z-index: 1000;
  }

  .hamburger-background {
    height: 45vh;
    position: fixed;
  }
  
  .hamburger-background a {
    margin: 1.5em auto;
    width: 100vw;
    height: 0.4em;
    font-family: "Work Sans";
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: #355142;
  }
  
  .hamburger-background a:hover {
    color: white;
  }

  .hamburger-click {
    background-color: #5abdac;
    border: none;
    box-shadow: none;
    z-index: 100;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .peter-pan-logo-green-container {
    display: none;
  }

  .peter-pan-logo-white-mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 12em;
    object-fit: contain;
    z-index: 20;
    left: 1em;
    top: -3.1em;
  }

  .fixed-wrapper {
    display: none;
  }

  .mobile-tagline {
    position: absolute;
    width: 100vw;
    padding: 0em;
    z-index: 20;
    left: 0;
    top: 6.9em;
    font-size: 0.8em;
    margin: 0 auto;
    text-align: left;
    color: rgb(8, 43, 38);
    background-color: rgb(76, 172, 148);
  }

  .mobile-tagline p {
    margin: 0.9em 1em;
  }

  .powered-by {
    padding: 1em 0 8em 0;
  }

  footer {
    padding-bottom: 0.5em;
    font-size: 0.8em;
    font-weight: 600;
  }

  div.footer-text {
    line-height: 0.1em;
    padding-bottom: 1em;
    margin-bottom: 0.2em auto;
  }

  div.footer-icons {
    line-height: 0.1em;
    padding: 0.2em;
    margin: 0.2em auto;
  }

  .header-carousel-images {
    margin-top: 0;
    width: 100vw;
    height: 92vh;
    object-fit: cover;
    box-sizing: border-box;
  }

  .story-header-bg-image,
  .hours-location-header-bg-image,
  .donuts-header-bg-image {
    width: 100vw;
    height: 32vh;
  }

  .section-header {
    margin-top: 5em;
  }

  #x-button {
    position: fixed;
    top: 0.1em;
    right: 0.1em;
    width: 2em;
    height: 2em;
    cursor: pointer;
  }

  .x-button {
    height: 35px;
    width: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
  }

  .x-btn {
    height: 35px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
  }

  #contact.contact-wrapper{
    margin-top: 1em;
    padding: 1em auto;
  }

  .hamburger-close {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
  }

  .story-text{
    width: 70vw;
  }

  .for-all-ques, .we-love {
    max-width: 70vw;
  }

  .img-wrapper {
   padding: 2em;
  }

  .img-wrapper img {
    height: 30vw;
   }

}

