@import url("https://fonts.googleapis.com/css?family=Work+Sans:700,400|Raleway:700");

.App {
  display: block;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Work Sans";
  background-color: #ffecec;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  z-index: -1;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 62.5%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px auto;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  height: 10vw;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 13px;
  text-align: center;
  color: white;
  opacity: 100%;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
/* HEADER SECTION STYLING */
.fixed-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: "Work Sans";
  font-weight: bold;
  color: #f1f1f1;
  font-size: 2em;
  padding: 0 3em;
  background-color: #a8426e;

}

.fixed-header p, .fixed-header a {
  text-decoration: none;
  color: #ffffff; 
  padding: 0.2em 0.5em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: "Work Sans";
  font-weight: bold;
  color: #f1f1f1;
  font-size: 2em;
  padding: 0.5em 3em;
  background-color: #5abdac;
}

nav a {
  text-decoration: none;
  color: #224522;
  padding: 0.2em 0.5em;
}

nav a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.fixed-wrapper {
  overflow: scroll;
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
}

.peter-pan-logo-green-container {
  margin: 1vh auto 2vh auto;
  display: flex;
  justify-content: center;
}

.peter-pan-logo-green {
  width: 30vw;
}

.header-carousel {
  width: 100vw;
}

.header-carousel-images {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

#header-carousel-image3 {
  object-position: 0% 20%;
}

/* .tns-controls {
  display: flex;
  position: absolute;
  top: 65vh;
  justify-content: space-evenly;
  align-content: center;
}
button {
  z-index: 1000;
  margin: 0 10vw 0 30vw;
  width: 5vw;
} */

.header-tagline {
  font-family: "Work Sans";
  font-weight: bold;
  /* font-size: 2.5vw; */
  font-size: 35px;
  text-align: center;
  color: #355142;
  padding-right: 10vw;
  padding-left: 10vw;
}

/* HOURS & LOCATION SECTION STYLING */
.hours-location-header-bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./Images/location-section-image.png);
  width: 100vw;
  height: 20vw;
  opacity: 0.48;
}

.hours-location-inner-wrapper {
  font-family: "Work Sans";
  font-size: 26px;
  color: #24522a;
  margin: 3vw;
}


.address-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-decoration: underline;
  line-height: .75vw;
  margin-bottom: 2vw;
}

.address-wrapper > a {
  color: #24522a;
}


.address a:visited {
  text-decoration: none;
  color: #24522a;
}

.hours-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 0vh;
}

.hours-wrapper > p {
  margin-bottom: 2vw;
}

/* STORY SECTION STYLING */

.story-header-bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./Images/story-section-image.png);
  background-position-y: 40%;
  background-position-x: 90%;
  width: 100vw;
  height: 20vw;
  object-fit: fill;
  opacity: 0.59;
}

.story-section-logo {
  display: flex;
  justify-content: center;
  border: solid 1px #979797;
  background-color: rgba(5, 5, 5, 0.8);
}

.story-section-logo > img {
  width: 190px;
  height: 64px;
  margin: 1vh;
  object-fit: contain;
}

.story-text-wrapper {
  width: 100vw;
  background-color: #d16e99;
}

.story-text {
  padding: 3vh;
  margin: 0vh auto;
  width: 55vw;
  font-family: "Work Sans";
  font-size: 20px;
  text-align: center;
  color: #ecf5ed;
  
}

/* DONUT SECTION STYLING */
.donuts-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  background-color: #ffecec;
}

.donuts-header-bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-image: url("./Images/donut-section-image.png");
  background-position-y: 65%;
  background-position-x: 100%;
  width: 100vw;
  height: 20vw;
  opacity: 0.62;
}

.donuts-order-ahead {
  margin: 1.5vw auto;
  padding: 0.4em;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #24522a;
}

.donuts-order-ahead > a {
  color: #24522a;
}

.donut-price-list {
  margin: 1vw auto;
  text-align: center;
  font-size: 25px;
  width: 284px;
  height: 103px;
  color: #24522a;
  font-weight: bold;
}

.donut-price {
  width: 284px;
  height: 103px;
  font-size: 25px;
  text-align: center;
  color: #24522a;
}

.donuts-list-wrapper {
  display: flex;
  flex-direction: column;
  margin: -1vw auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #24522a;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}


.donuts-list-wrapper li {
  list-style-type: none;
  font-size: 25px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.specialties-donuts-list-wrapper {
  margin-bottom: 2vw;
}

.specialties-donuts-list-inner-wrapper {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.specialties-donuts-list-section-one, .specialties-donuts-list-section-two {
  padding: 0 1em;
}

h4 {
  padding: 0;
  margin: 0 auto;
}

/* CONTACT SECTION STYLING */
.contact-wrapper {
  margin: 0 auto;
  font-size: 26px;
  width: 100vw;
  border: solid 1px #979797;
  background-color: #d16e99;
}

.contact-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 4vw auto 2vw auto;
  padding: 0px;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 13px;
  text-align: center;
  color: white;
}

.for-all-ques {
  margin: 2vw 25vw;
  font-weight: bold;
  text-align: center;
  color: #3e3a2d;
}

.for-all-ques > a {
  color: white;
}


.we-love {
  margin: 2vw 25vw;
  font-weight: bold;
  text-align: center;
  color: #3e3a2d;
}

.we-love > a {
  color: white;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto
}

.img-wrapper > img {
  margin: 2.5vw 5vw;
  margin-bottom: 3vw;
  height: 7vw;
}


/* FOOTER SECTION STYLING */
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  margin: 0 auto;
  padding: 5px 0px;
  font-weight: bold;
  border: solid 1px #979797;
  background-color: #5abdac;
  overflow-y: scroll;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icons,
.footer-text,
.footer-phone {
  margin: 5px auto;
  padding: 10px;
  color: white;
}

.footer-icons img {
  opacity: 0.7;
}

.footer-icons img:hover {
  opacity: 1;
}

.footer-phone {
  width: 200px;
  border-radius: 30px;
  padding: 15px;
  background-color: #e9428b;
  text-align: center;
  align-self: center;
  margin: 0 auto;
}

.footer-icons {
  padding: 10px 20px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
}

.footer-icons a {
  margin: 5px;
}

.footer-text {
  padding: 10px 20px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.footer-phone a,
.footer-icon a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

footer img {
  height: 50px;
  width: 50px;
}

.designed-by {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #132315;
  font-size: 20px;
  text-align: center;
  color: #24522a;
  padding: 10px 0;
  margin-bottom: 70px;
  width: 100vw;
}

.hamburger-wrapper {
  display: none;
}

.hamburger-icon {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: pink;
  position: fixed;
}

.hamburger-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  width: 100vw;
  height: 100vh;
  opacity: .5;
  z-index: 1000;
}

.hamburger-background a {
  margin: 50px auto;
}

/* @media only screen and (max-width: 1047px) {
  .story-text-wrapper {
    width: 100vw;
    height: 70vh;
    background-color: #d16e99;
  }
  
  .story-text {
    padding-top: 0vw;
    margin: 0vh auto;
    width: 55vw;
    font-family: "Work Sans";
    font-size: 2.25vw;
    text-align: center;
    color: #ecf5ed;
    
  }
} */


@media only screen and (max-width: 600px) {
  .hamburger-wrapper {
    display: initial;
    display: flex;
    align-items: stretch;
  }
  .fixed-wrapper {
    display: none;
  }
  .hamburger-menu-toggle-1 {
    display: none;
  }
  .hamburger-menu-toggle-1:checked ~ .sidebar {
    display: initial;
  }

  .footer {
    position: relative;
  }

  .designed-by{
    margin-bottom: 7em;
    padding: 1em 0;
  }
}
